$light-link-hover: #878787;
$light-link: #212121;
$light-text: #1b1b1b;
$light-background: white;

$dark-link-hover: #878787;
$dark-link: #212121;
$dark-text: #1b1b1b;
$dark-background: white;

// $dark-background: #1b1b1b;
// $dark-text: #878787;
// $dark-link: white;
// $dark-link-hover: #484848;
