.index-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;

    @media screen and (max-width: 480px) {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .screenshot {
	width: 260px;
	height: 512px;
    }

    .logo {
	width: 296px;
	height: 115px;
        margin-bottom: 2em;

        img {
            width: 325px;
            height: 130px;
            margin-left: -9px;
            margin-top: 2px;
        }

        @media screen and (max-width: 480px) {
            margin-top: 40px;
            width: 280px;
            height: 112px;
        }
    }

    .appstore {
	width: 202px;
	height: 60px;
        margin-top: 3em;
    }

    .description {
        display: flex;
        flex-direction: column;

        height: 100%;
        width: 296px;
        
        p {
            margin: 0;
        }
    }


    .hero {
        margin-left: 3em;
    }
}
