@import 'mixins';

$border-width: 0px;

.index-content {
    width: 744px;
    border: $border-width solid $border;
    margin: auto;

    @include phone {
        width: 100vw;
    }

    .hero {
        display: flex;

        .pitch {
            margin-top: 80px;
            border: $border-width solid $border;
            width: 100%;
            margin-right: 21px;

            h1 {
                font-size: 48px;
                line-height: 1.4em;
                color: $header;
                text-align: center;
                margin: 0;
            }

            p {
                font-size: 21px;
                line-height: 1.3em;
                color: $header;
                text-align: center;
            }
        }
    }

    .bubble-container {
        margin-top: 80px;

        @include phone {
            display: none;
        }

        .bubble {
            display: flex;
            margin-bottom: 60px;
            background: $bubble-background;
            border: $border-width solid $border;
    
            border-radius: 21px;
    
            .image {
                flex: 1;
                border: $border-width solid $border;
                margin: 21px;
                margin-bottom: 0px;

                #screenshot {
                    width: 260px;
                    height: 100%;
                    margin: auto;
                    
                    background-image: url("images/screenshot.png");
                    background-size: 100%;
                    border: $border-width solid $border;
                }
            }
    
            .text {
                width: 400px;
                margin: 21px 21px 21px 0px;
                border: $border-width solid $border;

                h2 {
                    font-size: 30px;
                    margin-top: 0px;
                    margin-bottom: 12px;
                    color: $header;
                }

                p {
                    font-size: 18px;
                    line-height: 1.3em;
                }

                .appstore {
                    display: flex;
                    img {
                        margin-right: 12px;
                    }
                }
            }
        }
    }

    .feature-container {
        display: flex;
        width: 100%;
        border: $border-width solid $border;
        justify-content: center;

        @include phone {
            align-items: center;
        }

        .feature {
            display: flex;
            justify-content: space-between;
            width: 744px;
            margin: 40px 0;
            border: $border-width solid $border;

            .spacer {
                width: 21px;
                border: $border-width solid $border;
            }
    
            .image {
                height: 284px;
                width: 379px;
                border: $border-width solid $border;
                background: black;
                border-radius: 21px;

                @include phone {
                    width: 320px;
                    height: 240px;
                }

                img {
                    border-radius: 21px;
                    width: 100%;
                    height: 100%;
                }

                div {
                    width: 100%;
                    height: 100%;
                    margin: 0px;

                    background-size: 100%;
                    border: $border-width solid $border;
                }
            }
    
            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 380px;
                // margin: 21px;
                border: $border-width solid $border;

                @include phone {
                    width: 320px;
                    margin-top: 21px;
                }

                h3 {
                    font-size: 30px;
                    margin-top: 0px;
                    color: $header;
                }

                p {
                    font-size: 18px;
                    line-height: 1.3em;
                    margin: 0px;
                    margin-top: 12px;

                    @include phone {
                        margin-top: 3px;
                    }

                    small {
                        font-size: 12px;
                        line-height: 1.5em;
                        margin: 0px;
                    }
                }
            }

            @include phone {
                width: calc(100vw - 24px);
                align-items: center;
                flex-direction: column;
            }
        }
    }
    
    .feature-container:nth-of-type(even) {
      .feature {
        flex-direction: row-reverse;

        @include phone {
            flex-direction: column;
        }
      }
    }
}
