@import 'mixins';

.mac-press-gallery, .ipad-press-gallery {
    display: grid;
    margin-top: 8px;
    gap: 8px 8px;
    grid-template-columns: auto auto;
    justify-content: space-evenly;

    @include phone {
        grid-template-columns: auto;
    }
}

.ios-press-gallery {
    display: grid;
    margin-top: 24px;
    gap: 8px 8px;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;

    @include phone {
        grid-template-columns: auto;
    }
}

.press-image {
    border-radius: 8px;
    margin: 0;

    img {
        border-radius: 8px;
    }
}