@import 'mixins.css';
@import 'color.css';

:root {
    --border-width: 0px;
    --content-width: --phone-tablet(calc(100vw - 24px), calc(100vw - 24px), 929px);

    --section-margin: --phone(6rem, 8rem);
    --image-height: --phone(240px, 284px);
    --image-width: --phone(320px, 379px);
    --image-corner-radius: 21px;
    --feature-spacing: --phone-tablet(2em, 2em, 4em);
    --line-height: 1.5;
    --overlap: 6em;
}

.index-content {
    width: 100%;
    border: var(--border-width) solid var(--border);
    margin: auto;
    margin-bottom: 4em;

    display: grid;
    gap: var(--section-margin);
    justify-items: center;

    section {
        width: var(--content-width);
        margin-bottom: 3rem;
    }

    .hero {
        display: flex;

        .pitch {
            margin-top: 80px;
            border: var(--border-width) solid var(--border);
            width: 100%;
            margin-right: 21px;

            h1 {
                font-size: 48px;
                line-height: 1.4em;
                color: var(--header);
                text-align: center;
                margin: 0;
            }

            p {
                font-size: 21px;
                line-height: 1.3em;
                color: var(--header);
                text-align: center;
            }
        }
    }

    .bubble-container {
        display: grid;
        justify-items: center;
        background: var(--bubble-background);
        width: 100%;
        margin-bottom: calc(var(--overlap) * 0.5);

        .bubble {
            width: var(--content-width);
            display: grid;
            margin-top: 2em;
            margin-bottom: calc(var(--overlap) * -1);
            justify-items: center;
            align-items: --phone(start, center);
            grid-template-areas: --phone-tablet("text" "image", "text" "image", "image text");
            gap: --phone-tablet(2em, 4em, 0);

            .image {
                flex: 1;
                border: var(--border-width) solid var(--border);
                margin: 0px;
                grid-area: image;

                #screenshot {
                    width: 260px;
                    height: 531px;
                    margin: auto;

                    background-image: url("screenshot.png");
                    background-size: 100%;
                    border: var(--border-width) solid var(--border);
                }
            }

            .text {
                --local-margin: calc(calc(var(--overlap) * -1) - 2em);
                display: grid;
                margin-top: --phone-tablet(var(--local-margin), 1em, var(--local-margin));
                border: var(--border-width) solid var(--border);
                grid-area: text;
                gap: 1em;
                text-align: --phone-tablet(center, center, initial);
                width: --phone(320px, initial);

                h2 {
                    font-size: --phone(30px, 48px);
                    margin: 0;
                    color: var(--header);
                }

                p {
                    font-size: 20px;
                    line-height: 1.3em;
                    margin: 0;
                }

                a {
                    font-weight: 700;
                    margin: 0;
                }

                .appstore {
                    display: flex;
                    img {
                        margin-right: 12px;
                    }
                }
            }
        }
    }

    .feature-container {
        width: var(--content-width);

        .feature {
            display: grid;
            width: var(--content-width);
            gap: var(--feature-spacing);
            justify-content: space-between;
            justify-items: center;
            align-items: center;
            grid-template-areas: --phone("image" "text", "text image");

            .image {
                grid-area: image;
                height: var(--image-height);
                width: var(--image-width);
                background: black;
                border-radius: var(--image-corner-radius);

                box-shadow: 0px 0px 6px 2px var(--footer-background);

                img {
                    border-radius: var(--image-corner-radius);
                    width: 100%;
                    height: 100%;
                }
            }

            .text {
                grid-area: text;
                display: grid;
                gap: 1em;

                h3 {
                    font-size: 36px;
                    margin-top: 0px;
                    color: var(--header);
                }

                p {
                    font-size: 20px;
                    line-height: var(--line-height);
                    margin: 0px;
                }

                small {
                    font-size: 12px;
                    line-height: 1.5em;
                    margin: 0;
                }
            }
        }
    }
    
    .feature-container:nth-of-type(even) {
        .feature {
            grid-template-areas: --phone("image" "text", "image text");
        }
    }
}
