@import 'mixins.css';

.mac-press-gallery, .ipad-press-gallery {
    display: grid;
    margin-top: 8px;
    gap: 8px 8px;
    grid-template-columns: --phone(auto, auto auto);
    justify-content: space-evenly;
}

.ios-press-gallery {
    display: grid;
    margin-top: 24px;
    gap: 8px 8px;
    grid-template-columns: --phone(auto, auto auto auto);
    justify-content: space-evenly;
}

.press-image {
    border-radius: 8px;
    margin: 0;
    padding: 0;

    a { margin: 0; }

    img {
        border: 3px solid $bubble-background;
        border-radius: 8px;
        margin: 0;
    }
}
