<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-itunes-app" content="app-id=1215283742">
    <meta name="theme-color" content="#1B1B1B">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    {{ if (eq .Title "") }}
        {{ .Scratch.Set "title" .Site.Title }}
    {{ else }}
        {{ .Scratch.Set "title" (print .Site.Title " | " .Title) }}
    {{ end }}

    <title>{{ .Scratch.Get "title" }}</title>

    <meta name="title" content="{{ .Scratch.Get "title" }}">
    <meta name="description" content="{{ .Site.Params.description }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content="{{ .Scratch.Get "title" }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:image" content="{{ "images/meta.png" | absURL }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <meta property="twitter:title" content="{{ .Scratch.Get "title" }}">
    <meta property="twitter:description" content="{{ .Site.Params.description }}">
    <meta property="twitter:image" content="{{ "images/meta.png" | absURL }}">

    {{ $styleOptions := (dict "includePaths" (slice "assets/_sass")) }}
    {{ $style := resources.Get "main.scss" | resources.ToCSS $styleOptions }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="canonical" href="{{ .Permalink }}">
</head>
