@import 'neat/neat';

article {
	@include grid-container;
	// @include grid-visual;

	max-width: 740px;
	margin: auto;
	padding-top: 3em;
	// background-color: red;
}

.post-header {
	@include grid-column(8);
}

.post-content {
	@include grid-column(8);
}