@import 'neat/neat';

$mobile-grid: (
	media: "(max-width: 480px)"
);

article {
	@include grid-container;

	max-width: 740px;
	margin: auto;
	padding-top: 3em;
}

.post-header {
	@include grid-column(8);

	@include grid-media($mobile-grid) {
		@include grid-column(12);
	}
}

.post-content {
	@include grid-column(8);

	@include grid-media($mobile-grid) {
		@include grid-column(12);
	}
}

