{{ define "main" }}
<div class="index-content">
  <div class="bubble-container">
    <div class="bubble">
      <div class="image">
        <div id="screenshot"></div>
      </div>
      <div class="text">
        <h2>Share your images, not your secrets.</h2>
        <p>Black Highlighter makes it easy to hide text you don’t want to share in images you’re going to share anyway.</p>
        <p>Hide people’s names, e-mail addresses, and more with just the swipe of a finger.</p>
        <div class="appstore">
          <a href="https://itunes.apple.com/us/app/black-highlighter/id1215283742?ls=1&mt=8&at=11lrHm"><img src="images/appstore.svg"/></a>
          <a href="https://itunes.apple.com/us/app/black-highlighter/id1215283742?ls=1&mt=8&at=11lrHm"><img src="images/macappstore.svg"/></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Features Begin Here -->
  <div class="feature-container">
    <div class="feature">
      <div class="image">
        <img src="images/index/highlighter.png" srcset="
        images/index/highlighter.png 1x,
        images/index/highlighter@2x.png 2x,
        images/index/highlighter@3x.png 3x">
      </div>
      <div class="spacer"></div>
      <div class="text">
        <h3>Magic Highlighter</h3>
        <p>The Magic Highlighter snaps to and completely covers any text it sees. This makes redactions look neater, while making it harder to guess what lies underneath due to oddly-shaped letters. </p>
      </div>
    </div>
  </div>
  <div class="feature-container">
    <div class="feature">
      <div class="image">
        <img src="images/index/colors.png" srcset="
        images/index/colors.png 1x,
        images/index/colors@2x.png 2x,
        images/index/colors@3x.png 3x">
      </div>
      <div class="spacer"></div>
      <div class="text">
        <h3>Colorful Highlighters</h3>
        <p>Want to share a conversation thread&hellip; but not share who’s in it? Use colors to identify different people instead.</p>
      </div>
    </div>
  </div>
  <div class="feature-container">
    <div class="feature">
      <div class="image">
        <img src="images/index/scanner.png" srcset="
        images/index/scanner.png 1x,
        images/index/scanner@2x.png 2x,
        images/index/scanner@3x.png 3x">
      </div>
      <div class="spacer"></div>
      <div class="text">
        <h3>Document Scanner</h3>
        <p>Even if the text you want to redact is on printed paper, you’re still in luck. Point your camera at any sheet of paper, and Black Highlighter will automatically crop and import it for you.</p>
        <p><small>Requires one-time in-app purchase to unlock. Not available on macOS.</small></p>
      </div>
    </div>
  </div>
  <div class="feature-container">
    <div class="feature">
      <div class="image">
        <img src="images/index/mac.png" srcset="
        images/index/mac.png 1x,
        images/index/mac@2x.png 2x,
        images/index/mac@3x.png 3x">
      </div>
      <div class="spacer"></div>
      <div class="text">
        <h3>Cross Platform</h3>
        <p>Black Highlighter is right at home on iOS, iPadOS, and macOS. This way, you&apos;ve got the power of Black Highlighter no matter what situation you're in.</p>
      </div>
    </div>
  </div>
  <div class="feature-container">
    <div class="feature">
      <div class="image">
        <img src="images/index/automatic.png" srcset="
        images/index/automatic.png 1x,
        images/index/automatic@2x.png 2x,
        images/index/automatic@3x.png 3x">
      </div>
      <div class="spacer"></div>
      <div class="text">
        <h3>Automatic Redaction</h3>
        <p>Specify things you always want to redact: names, phone numbers, addresses, and more. Black Highlighter will automatically recognize these and redact them for you.</p>
        <p><small>Requires one-time in-app purchase to unlock.</small></p>
      </div>
    </div>
  </div>
  <div class="feature-container">
    <div class="feature">
      <div class="image">
        <img src="images/index/shortcuts.png" srcset="
        images/index/shortcuts.png 1x,
        images/index/shortcuts@2x.png 2x,
        images/index/shortcuts@3x.png 3x">
      </div>
      <div class="spacer"></div>
      <div class="text">
        <h3>Workflows</h3>
        <p>What’s better than automatic redaction? <strong>Automatic</strong> automatic redaction. Build workflows with Shortcuts or Automator to do speed up common redactions.</p>
        <p><small>Requires one-time in-app purchase to unlock.</small></p>
      </div>
    </div>
  </div>
</div>
{{ end }}
