{{ define "main" }}
<div class="index-content">
  <div class="description">
    <div class="logo">
      <img src="images/logo.png">
    </div>
    <p>Black Highlighter makes it easy to hide text in images you want to share.</p>
    <a href="https://itunes.apple.com/us/app/black-highlighter/id1215283742?ls=1&mt=8&at=11lrHm">
      <img src="images/appstore.png" class="appstore">
    </a>
  </div>
  <div class="hero">
    <img src="images/screenshot.png" class="screenshot">
  </div>
</div>
<article class="post">
  <div class="post-header">
    <h1 class="post-title">What is Black Highlighter?</h1>
  </div>
  <div class="post-content">
    <p>Black Highlighter is an app that makes it easy to hide secret information you don&apos;t want to share in images you&apos;re going to share anyway.</p>
    <p>Hide people&apos;s names, e-mail addresses, embarrassing music choices, and more with just the swipe of a finger.</p>
    <h1>The Magic Highlighter</h1>
    <p>Black Highlighter includes a special feature, the Magic Highlighter. The Magic Highlighter detects any text you&apos;ve highlighted, and adjusts the highlighted area to match.</p>
    <p>The Magic Highlighter&apos;s abilities make it super simple to ensure you&apos;ve made nice, even lines. It also ensures you&apos;ve covered up everything you wanted to hide &mdash; no pesky descenders will sneak out.</p>
  </div>
</article>
{{ end }}
