@function --phone(--phone-value, --regular-value) {
    result: var(--regular-value);
    @media screen and (max-width: 480px) {
        result: var(--phone-value);
    }
}

@function --phone-tablet(--phone-value, --tablet-value, --regular-value) {
    result: var(--regular-value);

    @media screen and (max-width: 480px) {
        result: var(--phone-value);
    }

    @media screen and (max-width: 929px) {
        result: var(--tablet-value);
    }
}
